*{
    padding: 0;
    margin: 0;
}
section{
    padding-bottom: 50px;
}
.navbar-brand img{
    width: 90px;
}
.bg-light{
    background-color: white !important;
}
.buy-now{
    border: none;
    padding: 7px 12px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
button.buy-now:hover{
    background-color: chocolate;
    color: black;
}
.slider-part{
    height: 500px;
    background-image: url(images/slide-bg.png);
    background-repeat: no-repeat;
}
.card-footer{
    background: white;
    border-top: none;
}
.see-all{
    color: wheat;
}
a.see-all:hover{
    color: chocolate;
    text-decoration: none;
}
.card{
    padding: 10px;
}
.card img{
    height: 250px;
    width: 280px;
    margin: 0 auto;
}
.card-body h5, .card-body p{
    text-align: center;
}
.card-footer{
    margin: 0 auto;
}
.catagories h1{
    text-align: center;
}
.cat-part{
    padding-top: 50px;
}
.border-cat{
    border: 3px solid chocolate;
    border-radius: 30px;
    width: 150px;
    margin: 0 auto;
}
.box-shadow{
    padding: 40px 10px;
    margin-bottom: 10px;
    box-shadow: 8px 10px 20px gray;
    border-radius: 10px;
    height: 300px;
}
.box-shadow img{
    margin-left: 55px;
    width: 50%;
}
.box-shadow h5{
    text-align: center;
}